*.o
*.lo
*~
*.log
*.trs
*.la
.deps
.dirstamp
/Makefile
Makefile.in
aclocal.m4
autom4te.cache
cloud-init
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1
data/cloud-init*.service
clr-cloud-init-*.tar.xz
clr-cloud-init-*/
tests/Makefile
tests/.libs/
tests/*_test
libtool
ltmain.sh
m4/
test-driver
			
# scan-build
*.plist