*.o
*.lo
*~
*.log
*.trs
*.la
.deps
.dirstamp
/Makefile
Makefile.in
aclocal.m4
autom4te.cache
ucd
ucd-aws
ucd-oci
ucd-tct
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1
data/ucd*.service
micro-config-drive-*.tar.xz
micro-config-drive-*/
tests/Makefile
tests/.libs/
tests/*_test
libtool
ltmain.sh
m4/
test-driver
			
# scan-build
*.plist
